NODE_ENV=development
PORT=your_port_number

DATABASE_URL=your_database_connection_string

#JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=your_jwt_expiration_time
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRES_IN=your_jwt_refresh_expiration_time

# STORAGE
S3_BUCKET_NAME=your_bucket_name
S3_REGION=your_bucket_region
S3_ENDPOINT=your_bucket_endpoint
S3_ACCESS_KEY_ID=your_s3_access_key_id
S3_SECRET_ACCESS_KEY=your_s3_secret_access_key
S3_PUBLIC_URL=your_s3_public_url

#CORS
CORS_ORIGINS=your_frontend_url

# BullMQ / Redis
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_PASSWORD=your_redis_password

# Resend Email
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM_NAME=your_email_from_name

# Puppeteer
PUPPETEER_EXECUTABLE_PATH=your_puppeteer_executable_path

# Paystack
PAYSTACK_SECRET_KEY=your_paystack_secret_key
PAYSTACK_PUBLIC_KEY=your_paystack_public_key